{
  "root": true,
  "extends": "@upstatement/eslint-config/react",
  
//#region comment out from here
  "overrides": [
    {
      "files": ["*nav.js"],
      "extends": "standard"
    }
  ]
}
//#endregion comment out from here