.wrap {
  display: block;
}

.item {
  /* background: #ccc;
  border: 2px solid #FFF;
  padding: 10px; */
  position: relative;
  height: relative;
  transition: all 0.3s ease-in-out;
  z-index: 1;

  &:hover {
    transform: scale(1.1);
  }
}
